.info {
  margin-top: 170px;
  max-width: 415px;
  width: 100%;
  letter-spacing: 0.05em;
}

.info-subtitle, .info-text {
  max-width: 320px;
  width: 100%;
}

.info-title {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 47px;
  color: #E5E5E5;
  white-space: nowrap;
  display: flex;
}

.info-subtitle {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #E5E5E5;
  margin-top: 25px;
}

.info-text {
  font-family: Century Gothic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #E5E5E5;
  margin-top: 20px;
}

.info-icon {
  width: 47px;
  height: 50px;
  background-image: url('../../img/IconFile.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}

@media (max-width: 875px) {
  .info {
    margin-top: 50px;
    max-width: 400px;
    display: none;
  }
  .info-title {
    font-size: 28px;
  }
  .info-subtitle {
    font-size: 14px;
  }
  .info-text {
    font-size: 14px;
  }
}