.header {
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
#theme-switch {
  width: 50px;
  height: 25px;
  background: #91db7f;
  border-radius: 18px;
  padding: 2px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
.theme-switch-item {
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
}
.darkTheme .theme-switch-item {
  transform: translateX(25px);
  transition: 0.15s all ease-in-out;
}

.lightTheme .theme-switch-item {
  transform: translateX(0);
  transition: 0.15s all ease-in-out;
}
